__pycache__
.DS_Store
output
experiments/alpha_initialization_reg_parameter
experiments/patch_alpha_initialization_reg_parameter
experiments/faces_patch_increments_reg
experiments/faces_patch_increments_reg_10
experiments/gamma_reg_parameter
experiments/patch_increments_reg
experiments/patch_increments_reg_10
experiments/patch_increments_reg_5
experiments/cameraman_patch_increments_reg_5
experiments/scalar_cameraman_reg
experiments/scalar_faces_reg
experiments/scalar_faces_reg_5
experiments/scalar_faces_reg_10
experiments/data_experiments/2d_plot_cameraman
experiments/data_experiments/2d_plot_faces
experiments/data_experiments/patch_increments_cameraman
experiments/data_experiments/patch_increments_cameraman_10
experiments/data_experiments/patch_increments_circles_patches
experiments/data_experiments/patch_increments_circles_patch
experiments/data_experiments/patch_increments_faces
experiments/data_experiments/patch_increments_faces_old
experiments/data_experiments/scalar_plot_cameraman
experiments/data_experiments/scalar_plot_faces
experiments/data_experiments/initialization_data_parameter
experiments/reg_experiments/patch_increments_circles
experiments/reg_experiments/patch_increments_faces
experiments/reg_experiments/patch_increments_cameraman
experiments/reg_experiments/patch_increments_cameraman_nh
.vscode
.ipynb_checkpoints